@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-thin-custom {
    scrollbar-width: thin;
    scrollbar-color: #8c5a67 #dcdef2;
  }

  .scrollbar-thin-custom::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar-thin-custom::-webkit-scrollbar-track {
    background: #dcdef2;
  }

  .scrollbar-thin-custom::-webkit-scrollbar-thumb {
    background-color: #8c5a67;
    border-radius: 4px;
    border: 1px solid #a67c7c;
  }
}
